include mixins.jade

.landing
  a(href="steps/imagine.html" class="button")
      h3 Start Designing
  
  +image-carousel("/assets/img/project-photos/coffee-cup.JPG","/assets/img/project-photos/clockbox-close3.JPG","/assets/img/project-photos/cutting-board.JPG","/assets/img/project-photos/lamp1.JPG","/assets/img/project-photos/seg-bowl top.JPG")
  
  .bottom
    h3 Already Started?
    +navbar
