@font-face {
  font-family: 'lumberjack';
  src: url("resources/fonts/Lumberjack.otf") format('opentype');
}

html, body {
  font-family: 'Comfortaa';
  margin: 0px;
  background-color: ivory;
}

header {
  height: 100vh;
  /*width: 100vw;*/
  background: linear-gradient(45deg, rgba(45, 242, 224, 0.25),rgba(242, 199, 45, 0.3)), url(resources/images/wood-background.jpg);
  color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

header li {
  background-color: slategrey;
  padding: 10px;
  box-shadow: 0px 5px 20px rgb(108, 108, 108);
}

header li:first-of-type{
  align-self: flex-start;
}

header li:nth-of-type(2){
  align-self: center;
}

header li:nth-of-type(3){
  align-self: flex-end;
}

header h1 {
  font-size: 59px;
  align-self: center;
}

main {

}

#logo {
  width: 50px;
  margin: 10px;
  position: fixed;
  float: left;
}

#navbar{
  background-color: lightsteelblue;
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  padding: 10px;
  width: 25%;
  align-self: stretch;
}

#navbar ul{
  list-style-type: none;
  float: left;
}

#navbar li:hover{
  background-color: salmon;
}

#section-title {
  background-color: goldenrod;
  text-align: center;
  width: 100vw;
  margin: 0px;
  font-size: 30px;
  display: block;
  border: 2px solid gold;
}

section {
  display: flex;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

.active{
  background-color: darksalmon;
}

.hover {
  box-shadow: 0px 7px 25px rgb(108, 108, 108);
}

.pagecontent {
}
