html, body {
  margin: 0px;
}

header {
  height: 100vh;
  width: 100vw;
  background-image: url(resources/images/wood-background.jpg);
  color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  /*text-align: center;*/
}

header h1 {
  font-size: 59px;
  font-family: sans-serif;
  align-self: center;
}

main {

}

#logo {
  width: 50px;
  margin: 10px;
  position: fixed;
  float:left;
}

section {
  display: none;
}

#navbar{
  background-color: #8a8a8a;
  height: 100%;
  width: 25%;
  float:left;
  clear: left;
  border: 2px solid black;
}

#navbar ul{
  list-style-type: none;
  align-self: flex-start;
}

#navbar li:hover{
  background-color: rgb(153, 103, 45);
}

#section-title {
  background-color: rgba(226, 207, 37, 0.81);
  text-align: center;
  width: 100%;
  height: 50px;
  float: left;
}

#page-content {
  float: left;;
}

.container {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: flex;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}
