html {
  background-image: url('resources/images/wood-background.jpg');
  font-family: lumberjack;
  margin: 0px;
}

@font-face {
  font-family: 'square-wood';
  src: url("resources/fonts/square_wood-7.ttf") format("truetype");
}

@font-face {
  font-family: 'lumberjack';
  src: url("resources/fonts/Lumberjack.otf") format('opentype');
  font-stretch: ultra-expanded;
}

header {
  text-align:center;
  vertical-align: middle;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(0deg, rgb(80, 62, 43), rgb(51, 38, 6));
  color: rgba(221, 186, 140, 0.8);
  font-family: Impact;
  font-size: 28px;
  margin-top: -20px;
}

main {
  width: 80vw;
  margin: auto;
  margin-top: 10px;
  font-size: 20px;
  clear: left;
  background-color: rgba(168, 168, 168, 0.78);
  padding: 10px;
}

footer {
  width:500px;
  height: 100px;
  margin: auto;
  margin-top: 50px;
  display: block;
  background-color: rgba(#f60000);
  color: black;
  font-size: 10px;
}

#navbar {
  margin: 0px;
  padding: 0px 0px 0px 5px;
  width: inherit;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

#navbar li {
  float:left;
  color: white;
}

#navbar li a{
  float: left;
  display: block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  color: white;
}

#navbar li:hover{
  background-color: rgb(77, 71, 23);
}

.selected {
  background-color: rgb(209, 177, 41);
}
